body{
    background-color: #474646;
}

.images{
    margin-top: 200px;
}

#imageBox{
    display: flex;
    margin: auto;
    align-self: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    height: 350px;
    color: transparent;
}

#image{
    height: 300px;
    width: 600px;
    background-color: white;
    background-image: url(resources/nature1.jpg);
    background-size: cover;
}

.navButtons{
    align-self: center;
    color: #e6e6e6;
    margin-top: 10px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}